<div class="container mt-5">
    <div class="row">
        <main class="col-md-10 mx-auto bg-primary bg-graident text-white rounded-4 p-4 border">
            <div class="border-bottom recipe-instruction">
            <h1 class="page-title-text">{{name}}</h1>
            <p>Posted by {{user.username}}</p>
            </div>
            <br>
            <p class="">{{description}}</p>
            <h2 class="text-warning">Ingredients:</h2>
            <ul>
                {{#each ingredients}}
                    <li>{{this.ingredientName}} - {{this.ingredientAmount}}</li>
                {{/each}}
            </ul>
            <h2 class="text-warning">Steps:</h2>
            <ol>
                {{#each steps}}
                    <li>{{this.stepText}}</li>
                {{/each}}
            </ol>
            <div class="rw-ui-container"></div>  {{!-- this div gives us access to the star rating container  --}}
        </main>
    </div>
</div>
