<div class="container mt-5">
    <div class="row">
        <main class="col-md-8 mx-auto bg-primary text-white rounded p-4">
            <h1>{{name}}</h1>
            <p>Posted by {{user.username}}</p>
            <p>{{description}}</p>
            <h2>Ingredients:</h2>
            <ul>
                {{#each ingredients}}
                    <li>{{this.ingredientName}} - {{this.ingredientAmount}}</li>
                {{/each}}
            </ul>
            <h2>Steps:</h2>
            <ol>
                {{#each steps}}
                    <li>{{this.stepText}}</li>
                {{/each}}
            </ol>
            <div class="rw-ui-container"></div>  {{!-- this div gives us access to the star rating container  --}}
        </main>
    </div>
</div>
