<div class="container mt-5">
    <div class="row">
        <main class="col-md-10 mx-auto bg-primary bg-graident text-white rounded-4 p-4 border">
            <div class="border-bottom">
            <h1>{{name}}</h1>
            <p>Posted by {{user.username}}</p>
            </div>
            <br>
            <p>{{description}}</p>
            <h2>Ingredients:</h2>
            <ul>
                {{#each ingredients}}
                    <li>{{this.ingredientName}} - {{this.ingredientAmount}}</li>
                {{/each}}
            </ul>
            <h2>Steps:</h2>
            <ol class="">
                {{#each steps}}
                    <li>{{this.stepText}}</li>
                {{/each}}
            </ol>
        </main>
    </div>
</div>
